{{ COMMON_LOG_DIR }}/tracking.log {
  create
  compress
  delaycompress
  dateext
  dateformat -%Y%m%d-%s
  missingok
  notifempty
  rotate 365000
  size 1M
  postrotate
      /usr/bin/killall -HUP rsyslogd
    endscript
}
